@{
    Layout = "/Areas/MShop/Themes/M1/Views/Shared/_BaseLayout.cshtml";
}
@using Webdiyer.WebControls.Mvc
@model  PagedList<Maticsoft.Model.Shop.Products.ProductReviews>    
 <div id="CommentListDiv">
<div class="top"> <a href="javascript:;" onclick="history.go(-1)"><span>&lt;返回</span></a>
  @Html.Partial("/Areas/MShop/Themes/M1/Views/Partial/_HeadRight.cshtml")
</div>
<div class="productshow_title">@ViewBag.ProductName</div>

@if (Model != null)
{
    <div class="products_pl">
        @foreach (var item in Model)
        {
            <ul>
                <li><span>@item.UserName 评论说：</span><small>@item.CreatedDate.ToString("yyyy-MM-dd HH:mm:ss")</small></li>
                <li>@Html.Raw(item.ReviewText)</li>
            </ul>
        }
        <div>
            @Html.AjaxPager(Model, new PagerOptions
       {
           ShowDisabledPagerItems = false,
           AlwaysShowFirstLastPageNumber = false,
           PageIndexParameterName = "pageIndex",
           NumericPagerItemCount = 3,
           CurrentPagerItemWrapperFormatString = "<p class=\"in_s\">{0}</p>",
           NumericPagerItemWrapperFormatString = "<p>{0}</p>",
           NavigationPagerItemWrapperFormatString = "<p>{0}</p>",
           CssClass = "in_pages",
           SeparatorHtml = ""
       }, new AjaxOptions { UpdateTargetId = "CommentListDiv" })
        </div>
    </div>
}
</div>
