@using Webdiyer.WebControls.Mvc
@model PagedList<Maticsoft.Model.SNS.GroupTopicReply>
<div class="container" id="replyList">
        @if (null != Model)
        {
            foreach (var item in Model)
            {
                <div class="topicBox" id="m_6" sid="181870738" parentid="0" tid="44" pid="146" floorpid="0" tofloorpid="0">
                    <div class="infoCon">
                        <i class="infoPer db"><a href="javascirpt:;">
                                                  <img src="/Upload/User/Gravatar/@(item.ReplyUserID).jpg?t=@(DateTime.Now.ToString("yyyyMMddHHmmssfff"))" class="bImg" width="38" height="38" alt="头像">
                                              </a></i>
                        <p class="infoT"><span>@item.ReplyNickName：</span> 
                            @Html.Raw(Maticsoft.ViewModel.ViewModelBase.ReplaceFace(item.Description)) 
                        </p>
                        <div class="infoB">
                            <p>@Html.Raw(Maticsoft.ViewModel.ViewModelBase.ReplaceFace(item.OrginalDes)) </p>
                        </div>
                        @if (!string.IsNullOrWhiteSpace(ViewBag.groupName))
                        {
                            <p class="source">
                                <a href="@(ViewBag.BasePath)" class="msgfrom">来自：@(ViewBag.groupName)</a>
                                <a  style="float: right;" href="javascript:;" class="msgReply" uid="@item.ReplyUserID" replyId="@item.ReplyID" author="@item.ReplyNickName" tid="@item.TopicID">回复</a>
                            </p>
                        }
                    </div>
                </div>
            }
            
                   <div>
                                       @Html.AjaxPager(Model, new PagerOptions
                                  {
                                      ShowDisabledPagerItems = false,
                                      AlwaysShowFirstLastPageNumber = false,
                                      ShowPrevNext = false,
                                      ShowFirstLast = false,
                                      PageIndexParameterName = "pageIndex",
                                      NumericPagerItemCount = 5,
                                      CurrentPagerItemWrapperFormatString = "<p class=\"in_s\">{0}</p>",
                                      NumericPagerItemWrapperFormatString = "<p>{0}</p>",
                                      NavigationPagerItemWrapperFormatString = "<p>{0}</p>",
                                      CssClass = "in_pages",
                                      SeparatorHtml = ""
                                  }, new AjaxOptions { UpdateTargetId = "replyList" })
               </div>
        }
        else
        {
            <span>暂无消息</span>
        }
        <div id="fwin_mask_replyForm" style="display: none;">
</div>
<div class="replyForm" style="display: none;" id="fwin_dialog_replyForm">
    <div class="popLayer" style="width: 86%">
        <form method="post" id="replyForm">
        <input type="hidden" name="CSRFToken" value="137c14b9">
        <input type="hidden" name="sId" value="181870738">
        <input type="hidden" name="tId" value="39">
        <input type="hidden" name="pId" value="0">
        <div class="sendBorder">
            <textarea maxlength="140" id="content" name="content" cols="" rows="" class="sInput"
                placeholder="回两句吧..."></textarea>
        </div>
        <div class="sendOperate">
            <a href="javascript:;" class="expreSelect expreSelects" title=""></a>
            <div class="operBtn db fr">
                <span class="pText" id="pText">140</span> <a href="javascript:;" id="cBtn" class="cancelBtn db close"
                    title="">取消</a> <a href="javascript:;" id="comBtn" class="sendBtn c1 db sendReplyBtn" to=""
                        title="">发送</a>
            </div>
        </div>
        <div class="tipLayer mt10" style="display: none;">
            <div class="expreList">
                <div class="expressionTab">
                    <a href="javascript:;" class="on" id="emo0" title="默认">默认</a>
                </div>
                @RenderPage("~/Areas/MSNS/Themes/VSNS/Views/Partial/_biaoqing.cshtml")
            </div>
        </div>
        </form>
    </div>
</div>
    </div>