<script src="/Areas/Shop/Themes/M1/Content/Scripts/comm-a.js" type="text/javascript"></script>
@model List<Maticsoft.Model.Settings.MainMenus>
<div class="hd-menu" id="hdMenu">
    <div class="hd-menu-con w980">
        <ul id="hd-nav">
            <li class="home noSubmenu" cid="0"><a class="fnav" href="/">首页</a></li>
            @if (Model != null && Model.Count > 0)
            {
                foreach (var item in Model)
                {
                    if (item.URLType == 4)
                    {
                <li cid="@item.NavURL"><a class="fnav" @(item.Target == 1 ? "target='_blank'" : "") href="/product/@item.NavURL">@item.MenuName</a></li>
                    }
                    else
                    {
                <li class="noSubmenu"><a   class="fnav" href="@item.NavURL"  @(item.Target == 1 ? "target='_blank'" : "")>@item.MenuName</a></li>
                    }
                }
            }
        </ul>
    </div>
</div>
<div id="hd-submenu" class="hd-submenu">
    <div class="w980 rel" style="display: none">
        @if (Model != null && Model.Count > 0)
        {
            <ul class="hd-submenu-con">
                @foreach (var item in Model)
                {
                    if (item.URLType == 0)
                    {
                    <li><a href="@item.NavURL"  @(item.Target == 1 ? "target='_blank'" : "")>@item.MenuName</a></li>
                    }
                }
            </ul>
        }
    </div>
</div>
<!--维护菜单内容-->
<div id="menuItem2" style="visibility: hidden; left: 935px; top: 137px;">
    <!--[if IE 6]>
        <iframe id="selectMask" style="position:absolute; top:0;left:0;z-index:-1;" frameborder="0"></iframe>
    <![endif]-->
</div>
